body {
    font-family:'Times New Roman', Times, serif;
    background-color: #926060;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 450px;
    margin: 60px auto;
    background-color: #d17b7b;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 0 25px rgba(26, 21, 21, 0.1);
}

h1 {
    color: #890005;
    margin-bottom: 20px;
    font-size: 2.5em;
    font-weight: 700;
}

label {
    display: block;
    margin: 15px 0 5px;
    font-weight:bolder;
    font-size: 1.3em;
}

#templateSelect {
    display:flexbox;
    justify-content: center;
    gap: 10px;
}

#templateSelect img {
    width: 30%;
    max-width: 200px;
    border: 3px solid transparent;
    cursor:pointer;
    border-radius: 10px;
    transition: border 0.1s, transform 0.1s;
}

#templateSelect img.selected {
    border: 3px solid #95064d;
    transform: scale(1.05);
}

button {
    background-color: #a00754;
    color: rgb(18, 18, 18);
    font-family:'Times New Roman', Times, serif;

    padding: 15px 25px;
    border:#95064d;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.2em;
    transition: background-color 0.3s, transform 0.3s;
    margin-top: 20px;
}

button:hover {
    background-color: #7a003d;
    transform: scale(1.05);
}
